<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Hcl-project</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterStudents</display-name>
    <servlet-name>RegisterStudents</servlet-name>
    <servlet-class>RegisterStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudents</servlet-name>
    <url-pattern>/RegisterStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDelete</display-name>
    <servlet-name>StudentDelete</servlet-name>
    <servlet-class>StudentDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDelete</servlet-name>
    <url-pattern>/StudentDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateRegisteredStudent</display-name>
    <servlet-name>UpdateRegisteredStudent</servlet-name>
    <servlet-class>UpdateRegisteredStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateRegisteredStudent</servlet-name>
    <url-pattern>/UpdateRegisteredStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseCreation</display-name>
    <servlet-name>CourseCreation</servlet-name>
    <servlet-class>CourseCreation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseCreation</servlet-name>
    <url-pattern>/CourseCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseDelete</display-name>
    <servlet-name>CourseDelete</servlet-name>
    <servlet-class>CourseDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDelete</servlet-name>
    <url-pattern>/CourseDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fees</display-name>
    <servlet-name>Fees</servlet-name>
    <servlet-class>Fees</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fees</servlet-name>
    <url-pattern>/Fees</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FeeDelete</display-name>
    <servlet-name>FeeDelete</servlet-name>
    <servlet-class>FeeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FeeDelete</servlet-name>
    <url-pattern>/FeeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceDelete</display-name>
    <servlet-name>AttendanceDelete</servlet-name>
    <servlet-class>AttendanceDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceDelete</servlet-name>
    <url-pattern>/AttendanceDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourse</display-name>
    <servlet-name>UpdateCourse</servlet-name>
    <servlet-class>UpdateCourse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourse</servlet-name>
    <url-pattern>/UpdateCourse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFee</display-name>
    <servlet-name>UpdateFee</servlet-name>
    <servlet-class>UpdateFee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFee</servlet-name>
    <url-pattern>/UpdateFee</url-pattern>
  </servlet-mapping>
</web-app>